body{
    position: relative;
    background-color:  rgba(255, 255, 255, 0);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.4);
    margin: 10%;
    margin-top: 5%;
}
#{text-inputs()}{
    margin: 0;
}
[type=number]{
    appearance: none;
    &::-webkit-inner-spin-button{
        display: none;
    }
}
button{
    cursor: pointer;
}
a, button{
    transition: .3s ease-in;
    transition-property: color, background-color, opacity;
    svg{
        fill: currentColor;
    }
}

//rating
.rating {
    float: none;
    padding-bottom: 5%;
    display: none;
    @include breakpoint(large){
        display: block;
        padding: 0;
        width: 100%;
        margin-bottom: 5%;
        margin-left: -15%;
    }
    @include breakpoint(medium){
        width: 150%;
        margin-left: -50%;
    }
}
.rating:not(:checked) > input {
    position:absolute;
    @include breakpoint(medium large){
        position: relative;
    }
    top:-9999px;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .001em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:100%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    @include breakpoint(large){
        font-size:200%;
    }
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

//slider
.one-time{
    position: relative;
    padding: 0;
    .slide{
        @include breakpoint(large){
            display: flex;
        }
        button.slick-prev.slick-arrow{
            display: none;
        }
        .info{
            margin: 18%;
            margin-top: 8%;
            @include breakpoint(large){
                margin: 0;
                margin-top: 3%;
                width: 40%;
            }
        }
        img{
            margin: 5% 10% 5% 10%;
            width: 80%;
            height: 50%;
            @include breakpoint(large){
                width: 55%;
                height: auto;    
                margin-right: 3%;
                margin: 3%;
            }
        }
    }
}
.slick-dots{
    position: absolute;
    top: 50%;
    right: -10%;
    @include breakpoint(medium large){
        top: 20%;
        left: 80%;
    
    }
    li{
        list-style: none;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 700;
        line-height: 56px;
        text-align: center;    
        button{
            color:  #bbb5b5;
        }
        .slick-active{
            color: #000;
        }
    }
}

//info
h1{
    color:  #c74c4c;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    text-transform: uppercase;
    @include breakpoint(large){
        font-size: 102px;
        line-height: 104px;
        width: 80%;
        font-size: 102px;
        line-height: 104px;
        letter-spacing: -10px;
        margin: 0;
        margin-left: -25%;
        margin-bottom: 7%;
    }
}
p{
    font-family: 'Lato, sans-serif';
    color:  #00000086;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
    @include breakpoint(medium large){
        width: 50%;
    }
}
a{
    cursor: pointer;
    font-family: 'Lato';
    color:  #c74c4c;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    &:hover{
        text-decoration: underline;
    }
}